
<a  class="event-card-link" (click)="openEventDetailModal()">
    <div class="event-card">
        <div class="event-header finished">Seminario de Marketing Digital</div>
        <div class="event-body">
            <h3>Estrategias para el Éxito Online</h3>
            <p>Sesiones intensivas sobre SEO, SEM, redes sociales y content marketing...</p>
            <div class="event-meta">
                <span>📅 <strong>2024-05-20</strong></span>
                <span>📍 Auditorio Principal</span>
            </div>
        </div>
        <div class="event-status finished">🔴 Finalizado</div>
    </div>
    
</a>

@if (isOpenedDetailModal()) {
    <app-event-detail [eventId]="1" (close)="closeEventDetailModal()"></app-event-detail>
}
