
<a  class="event-card-link" (click)="openEventDetailModal()">
    <div class="event-card">
        <div class="event-header" [ngClass]="infoEvent()!.estado === 0 ? 'active' : 'finished'">{{infoEvent()!.nombre}}</div>
        <div class="event-body">
            <h3>{{infoEvent()?.nombre}}</h3>
            <p>{{infoEvent()!.descripcion | tuncatePipe:80}}</p>
            <div class="event-meta">
                <span>📅 <strong>{{infoEvent()?.fecha}}</strong></span>
                <span>📍 {{infoEvent()!.lugar}}</span>
            </div>
        </div>
        <div class="event-status" [ngClass]="infoEvent()!.estado === 0 ? 'active' : 'finished'"> {{infoEvent()!.estado === 0 ? "🟢 Activo": "⛔Finalizado"}}</div>
    </div>
    
</a>

@if (isOpenedDetailModal()) {
    <app-event-detail [event]="infoEvent()" (close)="closeEventDetailModal()" (estadoUpdated)="updateEstadoEvento($event)"></app-event-detail>
}
