<div class="form-overlay" id="eventFormOverlay">

    <div class="event-form">
        <span class="close-btn" id="closeFormBtn" (click)="closeModal()">&times;</span>
        <h2>Nuevo Evento</h2>
        <form [formGroup]="eventForm" (ngSubmit)="handleSubmit()">
            <div class="form-group">
                <label for="eventName"> @if (eventForm.controls.name.invalid) {
                    <span class="required">*</span>
                    }Nombre del Evento:
                </label>
                <input type="text" id="eventName" formControlName="name">
            </div>

            <div class="form-group">
                <label for="eventDescription">Descripción:</label>
                <textarea id="eventDescription" formControlName="description"></textarea>
            </div>

            <div class="form-group">
                <label for="eventLocation">Lugar:</label>
                <input type="text" id="eventLocation" formControlName="location">
            </div>

            <div class="form-group">
                <label for="eventStatus">Estado:</label>
                <select id="eventStatus" formControlName="estado">
                    <option value="active">Activo</option>
                    <option value="finished">Finalizado</option>
                </select>
            </div>

            <div class="satisfaction-options-group " formArrayName="opciones">
                <label>Opciones de Satisfacción:</label>
                <div id="satisfactionOptionsContainer">
                    @let optionList = eventForm.controls.opciones.controls;
                    @for (opcion of optionList; let i = $index; track opcion) {
                    <div class="option-container" [formGroupName]="i">
                        <div class="satisfaction-option">
                            <input type="text" id="opcion{{i}}" placeholder="Opcion #{{i}}" formControlName="option">
                        </div>
                        <div class="satisfaction-option">
                            <input type="text" id="opcionD{{i}}" placeholder="OpcionD #{{i}}" formControlName="label">
                        </div>
                        <button type="button" class="remove-option-btn" (click)="deleteControl(i)">X</button>
                    </div>

                    }
                </div>
                <button type="button" (click)="addControl()" class="add-option-btn" id="addOptionBtn">Agregar
                    Opción</button>
            </div>

            <div class="form-actions">
                <button type="submit" class="submit-btn">Guardar</button>
                <button type="button" class="cancel-btn" id="cancelFormBtn" (click)="closeModal()">Cancelar</button>
            </div>
        </form>
        <pre>{{eventForm.value | json }}</pre>
    </div>




</div>